/* color */
body {
    color           : $texas-rose;
    background-color: $tuna;
}

a:link {
    color           : $gun-powder;
    background-color: $porsche;
}

a:visited {
    color           : $pickled-bluewood;
    background-color: $porsche;
}

a:hover {
    color           : $dolphin;
    background-color: $texas-rose;
}

a:active {
    color           : $storm-gray;
    background-color: $flax;
}

header {
    color           : $flax;
    background-color: $tuna;
    border-color    : $dolphin;
}

nav {
    color           : $gun-powder;
    background-color: $slate-gray;
    border-color    : $dolphin;
}

.content-container {
    color           : $steel-gray;
    background-color: $almond;
    border-color    : $dolphin;
}

nav ul {
    border-color: $santas-gray;
}

nav a:link,
nav a:visited {
    color           : $titan-white;
    background-color: transparent;
    border-color    : $santas-gray;
}

nav a:hover {
    color           : $gun-powder;
    background-color: $porsche;
}

nav a:active {
    color           : $dolphin;
    background-color: $flax;
}

nav a.here:active,
nav a.here:hover,
nav a.here:link,
nav a.here:visited {
    color           : $titan-white;
    background-color: $juniper;
}

#content img {
    border-color : $malta;
    outline-color: $bone;
}

#imagegallery a {
    background-color: transparent;
}

th {
    color           : $almond;
    background-color: $gun-powder;
}

tr td {
    color           : $steel-gray;
    background-color: $porsche;
}

tr.odd td {
    color           : $steel-gray;
    background-color: $flax;
}

tr.highlight td {
    color           : $steel-gray;
    background-color: $coral-reef;
}
