/* layout */

body {
    background-image     : url('../images/background.gif');
    background-attachment: fixed;
    background-position  : top left;
    background-repeat    : repeat-x;
    max-width            : 80em;
    // susy
    @include container(80%);
}

.header,
.main-nav {
    display       : flex;
    flex-direction: column;
    padding       : vr(.5);
}

.logo {
    align-self: center;
}
@include breakpoint($medium) {
    .header {
        justify-content: flex-end;
        // height         : 200px;
    }

    .main-nav {
        flex-direction : row;
        justify-content: space-between;
    }
}
@include breakpoint($desktop) {
    .header {
        // flex-direction: row;

        .logo {
            align-self: flex-start;
        }
    }
}

header {
    background         : none;
    @include breakpoint($large) {
        background-image   : url('../images/guitarist.gif');
        background-repeat  : no-repeat;
        background-position: bottom right;
    }
    border-width       : 0.1em;
    border-style       : solid;
    border-bottom-width: 0;
}

// nav {
//     background-image   : url('../images/navbar.gif');
//     background-position: bottom left;
//     background-repeat  : repeat-x;
//     border-width       : 0.1em;
//     border-style       : solid;
//     border-bottom-width: 0;
//     border-top-width   : 0;
//     padding-left       : 10%;
// }
//
// nav ul {
//     width            : 100%;
//     overflow         : hidden;
//     border-left-width: 0.1em;
//     border-left-style: solid;
// }
//
// nav li {
//     display: inline;
// }
//
nav li a {
    display   : block;
    // float       : left;
    // padding     : 0.5em 2em;
    padding   : vr(.5);
    // border-right: 0.1em solid;
    text-align: center;
}

.content-container {
    border-width    : 0.1em;
    border-style    : solid;
    border-top-width: 0;
    // padding         : 2em 10%;
    // line-height     : 1.8em;
    // margin          : vr(1); // value 3 baselines
    // padding         : vr(0); // value of 2 baselines
    @extend %clearfix;
}

#about header {
    background-image: url('../images/lineup.gif');
}

#photos header {
    background-image: url('../images/basshead.gif');
}

#live header {
    background-image: url('../images/bassist.gif');
}

#contact header {
    background-image: url('../images/drummer.gif');
}

#content img {
    border-width : 0.1em;
    border-style : solid;
    outline-width: 0.1em;
    outline-style: solid;
}

#imagegallery li {
    display: inline;
}

#slideshow {
    width   : 150px;
    height  : 150px;
    position: relative;
    overflow: hidden;
}

img#frame {
    position     : absolute;
    top          : 0;
    left         : 0;
    z-index      : 99;
    border-width : 0;
    outline-width: 0;
}

img#preview {
    position     : absolute;
    border-width : 0;
    outline-width: 0;
}

dl {
    overflow: hidden;
}

dt {
    float: left;
}

dd {
    float: left;
}

label {
    display: block;
}

fieldset {
    border: 0;
}

td {
    padding: 0.5em 3em;
}

// .aside {
//     @include susy-breakpoint($xsmall, 12) {
//         display: none;
//     }
// }

.main {
    @include breakpoint($large) {
         @include span(8);
    }
}

.aside {
    display: none;
    @include breakpoint($large) {
        display: block;
        @include span(3 at 9);
    }
}
@include susy-breakpoint($desktop, 24) {
    //  @include layout(24);

    .main {
        @include span(21);

        .col1,
        .col2,
        .col3 {
            @include span(1 of 3);
        }
    }

    .aside {
        @include span(3 at 21);
        // @include suffix(10px);
        // @include pull(1);
    }
}
