/* layout */

body {
    background-image     : url('../images/background.gif');
    background-attachment: fixed;
    background-position  : top left;
    background-repeat    : repeat-x;
    max-width            : 80em;
    // susy
    @include container(80%);
}

.header,
.main-nav {
    display       : flex;
    flex-direction: column;
    padding       : vr(.5);
}

.logo {
    align-self: center;
}
@include breakpoint($medium) {
    .header {
        justify-content: flex-end;
    }

    .main-nav {
        flex-direction : row;
        justify-content: space-between;
    }
}
@include breakpoint($desktop) {
    .header {
        .logo {
            align-self: flex-start;
        }
    }
}

header {
    background         : none;
    @include breakpoint($large) {
        background-image   : url('../images/guitarist.gif');
        background-repeat  : no-repeat;
        background-position: bottom right;
    }
    border-width       : 0.1em;
    border-style       : solid;
    border-bottom-width: 0;
}

nav li a {
    display   : block;
    padding   : vr(.5);
    text-align: center;
}

.content-container {
    border-width    : 0.1em;
    border-style    : solid;
    border-top-width: 0;
    @extend %clearfix;
}

#about header {
    background-image: url('../images/lineup.gif');
}

#photos header {
    background-image: url('../images/basshead.gif');
}

#live header {
    background-image: url('../images/bassist.gif');
}

#contact header {
    background-image: url('../images/drummer.gif');
}

#content img {
    border-width : 0.1em;
    border-style : solid;
    outline-width: 0.1em;
    outline-style: solid;
}

#imagegallery li {
    display: inline;
}

#slideshow {
    width   : 150px;
    height  : 150px;
    position: relative;
    overflow: hidden;
}

img#frame {
    position     : absolute;
    top          : 0;
    left         : 0;
    z-index      : 99;
    border-width : 0;
    outline-width: 0;
}

img#preview {
    position     : absolute;
    border-width : 0;
    outline-width: 0;
}

dl {
    overflow: hidden;
}

dt {
    float: left;
}

dd {
    float: left;
}

label {
    display: block;
}

fieldset {
    border: 0;
}

td {
    padding: 0.5em 3em;
}

.main {
    padding: vr(1);
    @include span(12);
    @include breakpoint($large) {
         @include span(8);
    }
}

.aside {
    display: none;
    @include breakpoint($large) {
        display: block;
        @include span(4 at 9);
    }
}

.gallery img {
    display: none;
    @include breakpoint($large) {
        display: block;
        @include gallery(6 of 12);
    }
    @include breakpoint($desktop) {
        display: block;
        @include gallery(3 of 12);
    }

}
@include susy-breakpoint($desktop, 24) {
    .main {
        @include span(16);

        .col1,
        .col2,
        .col3 {
            @include span(1 of 3);
        }
    }

    .aside {
        @include span(8 at 17);
    }
}

.footer {
    p {
        text-align: center;
    }
}
