th {
    color           : $almond;
    background-color: $gun-powder;
}

td {
    padding: 0.5em 3em;
}

tr td {
    color           : $steel-gray;
    background-color: $porsche;
}

tr.odd td {
    color           : $steel-gray;
    background-color: $flax;
}

tr.highlight td {
    color           : $steel-gray;
    background-color: $coral-reef;
}
