$texas-rose      : #fb5;
$tuna            : #334;
$gun-powder      : #445;
$porsche         : #eb6;
$dolphin         : #667;
$storm-gray      : #778;
$flax            : #ec8;
$pickled-bluewood: #345;
$slate-gray      : #789;
$steel-gray      : #223;
$almond          : #edc;
$santas-gray     : #99a;
$titan-white     : #eef;
$juniper         : #799;
$malta           : #ba9;
$bone            : #dcb;
$coral-reef      : #cba;